*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main
{
    border: 1px solid red;
  width: auto;
  height: auto;  
    box-sizing: border-box;
}



#header1
{
    

  border: 1px solid ;
  height: 45px;
  display: flex;
  box-sizing: border-box;
  background-color: #ffd166;
  justify-content: center;
  align-items: center;

}

#header2
{
  border: 1px solid red;
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
  .hh1
{
   

    border: 0px solid red;
    height: 20px;
    margin-left: 220px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.hh2
{
    
/*  border: 1px solid red;*/
  display: flex;
    
  height: 20px;
  margin-top: 10px;
   
    text-align: center;
    justify-content: center;
    
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text{
  font-size: 18px;
 outline: none;
 list-style: none;
 color: black;
 list-style: none;

}




.hh2 li
{
    
    display: inline-block;
    height: 23px;
    list-style: none;
    color: black;
    outline: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

a{
  color:black;
  text-decoration: none;
}
a:hover
{
  color:#ffd166;
  text-decoration: underline;
}
#ff
{
  color:aliceblue;
  text-decoration: none;
}
#ff:hover
{
  color:#ffd166;
  text-decoration: underline;
}

#header3
{
    border: 1px solid red;
  width: auto;
  height: 80px;
  display: flex;

  
}

.hh3{
    display: flex;
  float: left;
  margin-left: 190px;
  
}

.hh4{
     float: left;
     display: flex;
     box-sizing: border-box;
     align-items: center;
     
}
#search{
  width: 600px;
  height: 40px;

}



  .hh5
{
    width: 180px;
    height: 30px;
    float: right;
    margin-right: 150px;
    margin-top: 25px;
    font-size: 20px;
    list-style: none;
    justify-content: center;
}
.hh5 li 
{
  
  width: 30px;
  float: right;
  margin-left:20px;
  list-style: none;
  box-sizing: border-box;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;

}





/*============header completeed================*/
/*============menu  start================*/



#menu
{
  border: 1px solid red;
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  
}

#menu ul li
{
  border: 0px solid red;
  width: 120px;
  text-align: center;
padding:12px;
font-weight: 500;

/* margin:0px 35px; */
    cursor: default;
    font-size: 16.5px;
    border-bottom: 2px solid transparent;
    padding: 12px 0;
  height: 40px;
  display: flex;
  
  display: inline-block;
  color: #000000;
  text-transform: capitalize;  
}

#menu ul{
  display: flex;
  justify-content: center;
  gap: 100px;
}
 
#menu ul li a{
  display: flex;
  justify-content: center;
}

#slider
{
  border: 1px solid red;
  width: 1510px;
  height: 660px;
  display: flex;

  
}


.content
{
   border: 1px solid red;   
  width: auto;
  height: 350px;
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 150PX;
overflow: hidden;
position: relative;

}

.c1
{
 border: 1px solid  red; 
width: 430px;
height: 540px;
text-align: center;
margin-right: 150px;

margin-top: 10px;
overflow: hidden;
position: relative;
}

/*#c2
{
border: 1px solid  red;
width: 150px;
height: 250px;
margin-right: 250px;
overflow: hidden;
position: relative;

}

#c3
{
border: 1px solid  red;
width: 150px;
height: 250px;
margin-right: 250px;
overflow: hidden;
position: relative;
}*/
.c1  img {
  transition: all 5s;
}

.c1 img:hover {
  transform: scale(1.5);
}
#video
{
  border: 1px solid red;
  width: auto;
  height: 320px;
  display: flex;
  justify-content: center;
  
}

 

#content1
{
  border: 1px solid red;
  width: auto;
  height: 300px;
display: flex;
flex-direction: row;
justify-content: center;
}

.c2
{
border: 1px solid  red;
width: 280px;
height: 280px;
text-align: center;
margin-right: 150px;
margin-top: 10px;
overflow: hidden;
position: relative;
}


.c2  img {
  transition: all 5s;
}

.c2 img:hover {
  transform: scale(1.5);
}

#content2{
border: 1px solid red;
width: auto;
height: 300px;
display: flex;
flex-direction: row;
justify-content: center;

}


.c3 img {
  transition: all 5s;
}

.c3 img:hover {
  transform: scale(1.5);
}

.c3
{
border: 1px solid  red;
width: 280px;
height: 280px;
text-align: center;
margin-right: 150px;
margin-top: 10px;
overflow: hidden;
position: relative;
}



#content3
{
  /* border: 1px solid red; */
  width: auto;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }


.c12
{
/* border: 1px solid  red; */
width: 1700px;
height: 760px;
text-align: center;
margin-right: 150px;
margin-top: 10px;
overflow: hidden;
position: relative;
align-items: center;
display: flex;
flex-direction: row;
justify-content: center;
margin-right: 25px;
}

.footer
{
  
    width: 100%;
    height: 450px;
    background-image: url(icon/fotter\ bg.webp);
    background-size: 100% 100%;
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 19px;
}

.footer ul{
    list-style: none;
}

.footer ul li{
    margin: 10px 0px;
}

/* =========page-1*/

#ppinfo
{
  /*border: 1px solid red;*/
  width: auto;
  height: 280px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#image img {
  /*border: 1px solid red;*/
  width:  400px;
  height: 250px;
  box-shadow: 0px 5px 5px rgba(0, 0,0,0.2);
  transition: all 0.5s;
  overflow: hidden;
 }
#image img:hover {
/*  border: 1px solid red;*/
  box-shadow: 0px 10px 5px rgba(0, 0,0,0.5);
  transition: all 0.5s;
 }

 #ppinfo2
 {
 /*  border: 1px solid red;*/
   width: auto;
   height: 280px;
   display: flex;
   justify-content: center;
   gap: 20px;
 }



 #image2 img {
  /*border: 1px solid red;*/
  width:  400px;
  height: 250px;
  box-shadow: 0px 5px 5px rgba(0, 0,0,0.2);
  transition: all 0.5s;
  overflow: hidden;
 }
#image2 img:hover {
/*  border: 1px solid red;*/
  box-shadow: 0px 10px 5px rgba(0, 0,0,0.5);
  transition: all 0.5s;
 }

 #commant
 {
 /*  border: 1px solid red;*/
   width: auto;
   height: 605px;
   display: flex;
   justify-content: center;
   gap: 20px;
 }
#cj7
{
  border: 1px solid red;
  width: 1300px;
  justify-content: center ;
  list-style: circle;
  
}
h1 {
font-size: 35px;
}
p{
  font-size: 15px;
  color: gray;
  }
  
/* border: 1px solid red; */
  /* width: auto; */
  /* height: 150px; */
  /* display: flex; */
